<form fxLayout="column" (ngSubmit)="onAddNewExercise(f)" #f="ngForm">
  <h1>Add new exercise</h1>
  <mat-form-field>
    <input type="text"
      matInput 
      placeholder="Exercise name"
      ngModel name="name"
      required
      #pwInput="ngModel">
  </mat-form-field>
  <mat-form-field>
    <input type="text"
      matInput 
      placeholder="Duration"
      ngModel name="duration"
      required
      #pwInput="ngModel">
  </mat-form-field>
  <mat-form-field>
    <input type="text"
      matInput 
      placeholder="Calories"
      ngModel name="calories"
      required
      #pwInput="ngModel">
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Add</button>
</form>